* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-pai{
    width: 100%;
    height: 600px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row nowrap;*/
    justify-content: space-between;
}
nav{
    width: 100%;
    height: 60px;
    background-color: blue;
    border-radius: 5px;
    margin: 5px;
}
footer{
    width: 100%;
    height: 60px;
    background-color: blue;
    border-radius: 5px;
    margin: 5px;
}
main{
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 5px;
}
.item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
    width: 300px;
    height: 200px;
    background-color: rgb(194, 210, 241);
    border-radius: 5px;
}